.searchVideo{
    display: flex;
    margin: 20px 0px;
}

.searchVideo__card__image>img{
    height: 160px;
    width: 240px;
    object-fit: contain;
    margin-right: 10px;
}

.searchVideo__content>p{
    font-size: 16px;
    font-weight: 600;
}
.searchVideo__content>span{
    font-size: 13px;
    color: gray;
}


@media screen and (max-width:600px) {
    .searchVideo{
       flex-direction: column;
    }
    .searchVideo__card__image>img{
        width: 140px;
    }
}