.login{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.login__info{
    height: 60vh;
    width: 50vh;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 0 0 10px 3px rgba(128, 128, 128, 0.397);
}

.login__info>img{
    width: 140px;
    object-fit: contain;
    margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
    .login__info>img{
        width: 140px;
        object-fit: contain;
        margin-bottom: 20px;
    }
    
}